.RSA__AccordionWrapper {
  &__Item {
    border: 1px solid #ccc;
    border-radius: 6px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &__Header {
      padding: 20px;
      overflow: hidden;
    }

    &__Content {
      border-top: 1px solid #ccc;
      &__ContentContainer {
        &__Wrapper {
          padding: 20px;
        }
      }
    }
  }
}
